// Colors
color-default = #5c5c5c
color-white = #fff
color-black = #000
color-red = #dc3545

// Light Steel
color-seasalt = #f8f9fa
color-antiflash-white = #e9ecef
color-platinum = #dee2e6
color-french-gray = #ced4da
color-french-gray-2 = #adb5bd
color-slate-gray = #6c757d
color-outer-space = #495057
color-onyx = #343a40
color-eerie-black = #212529

// Soft Pastel Shades
color-champagne-pink = #eddcd2
color-linen = #fff1e6
color-misty-rose = #fde2e4
color-mimi-pink = #fad2e1
color-light-cyan = #c5dedd
color-mint-cream = #dbe7e4
color-isabelline = #f0efeb
color-alice-blue = #d6e2e9
color-columbia-blue = #bcd4e6
color-powder-blue = #99c1de

// Font
font-size = 12px
font-basic = -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
font-code = "SF Mono", Monaco, "Roboto Mono", Consolas, "PingFang SC", Arial, "Microsoft YaHei", monospace

// Media queries
mq-mobile = "screen and (max-width: 430px)"
mq-large-mobile = "screen and (max-width: 767px)"
mq-tablet = "screen and (min-width: 768px) and (max-width: 1024px)"
mq-desktop = "screen and (min-width: 1025px) and (max-width: 1600px)"
mq-large-desktop = "screen and (min-width: 1601px)"