/* 设置字体 */
html
  font-size: font-size
  font-family: font-basic

pre,
code
  font-weight: 400;
  font-family: font-code
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-variant-ligatures: common-ligatures

button,
input,
select,
textarea
  font-family: inherit

/* 清除默认样式 */
*
  margin: 0
  padding: 0

ul, ol
  list-style: none

sup
  vertical-align: text-top

sub
  vertical-align: text-bottom

legend
  color: color-black

fieldset, img
  border: 0

table
  border-collapse: collapse
  border-spacing: 0

a
  color: color-default
  text-decoration: none
  border: none
